.buyshare__form{
    width: 100%;
    margin: auto;
    border: 2px solid rgb(111, 175, 84);
}
.buyshare__heading{
    background-color: rgb(111, 175, 84);
    font-size: 20px;
    padding: 3px;
    text-align: center;
    color: #fff;
}
.form__select{
    font-size: 15px;
    margin-top: -15px;
}
.buyshare__body{
    padding: 10px;
}
.amt__qty-main{
    display: flex;
    margin-top: 10px;
}
.quantity{
    margin-left: 70px;
}
.buyshare__submit{
    width: 100%;
}
.buyshare__table{
    padding: 10x;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
}
