.login__form-main{
    width: 500px;
    margin: auto;
    background-color: rgb(192, 190, 190);
    padding: 10px;
}
.member__login{
    border: none;
    background-color: #ffbb33;
    color: #fff;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: -20px;
    font-weight: 600;
    font-size: 18px;
}

.login__form{
    width: 50%;
    margin: auto;
}
.login__submit{
    text-align: center;
}
.login__main{
    padding-top: 100px;
}
.login__form label{
    color: white;
    font-size: 15px;
}
.wrong__validation{
    color: rgb(199, 13, 13);
}