
.portfolio__table{
    margin-top: 80px;
}

.card{
    background-color: rgb(240,234,214);
    width: 196px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.admin__container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.openShare__table{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.card__main{
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px;
}
.card__second{
    margin-top: 10px;
}