.sellshare__form{
    width: 100%;
    margin: auto;
    border: 2px solid #B22222;
}
.sellshare__heading{
    background-color: #B22222;
    font-size: 20px;
    padding: 3px;
    text-align: center;
    color: #fff;
}
.sellshare__body{
    font-size: 15px;
    padding: 10px;
}