.transaction__detail{
    // display: flex;
    // justify-content: space-around;
    width: 800px;
    margin: auto;
    margin-top: 60px;
}
.dropdown{
    text-align: right;
}
.update__icon{
    border: none;
}